/* clean old style inherited from bootstrap */

psk-card,
.card.psk-card,
.card.psk-card .card-header {
    font-family: nunito;
    background: none;
    display: block;
    border: none;
}

.card-header {
    background: #e9e8e8;
}

.card-body {
    padding: 2rem 4rem;
}

psk-page div.card-body {
    padding: 0;
}

.card-header h5 {
    width: 100%;
    color: #5076b3;
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0;
    line-height: 2.8rem;
}


/** first level of psk-card */

.psk-card .card-header {
    font-size: 130%;
}


/** second level of psk-card */

.psk-card .psk-card .card-header {
    font-size: 120%;
}


/** more than two levels of psk-card*/

.psk-card .psk-card .psk-card .card-header {
    font-size: 110%;
}

@media (max-width: 991px) {
    .card-body {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width:959px) {
    div.card.psk-card div.card-header {
        display: none;
    }
}


/*** Special selectors ***/


/** wallet-grid **/

.wallet-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    scrollbar-color: #572a57 #e5e5e5;
    scrollbar-width: thin;
}

.wallet-container::-webkit-scrollbar {
    background-color: #fff;
    width: 8px;
}


/* background of the scrollbar except button or resizer */

.wallet-container::-webkit-scrollbar-track {
    background-color: #e5e5e5;
}


/* scrollbar itself */

.wallet-container::-webkit-scrollbar-thumb {
    background-color: #572a57;
    border-radius: 8px;
    border: 2px solid #fff;
}


/* set button(top and bottom of the scrollbar) */

.wallet-container::-webkit-scrollbar-button {
    display: none;
}

.wallet-container {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
}

.wallet-container {
    flex-direction: column;
}

.wallet-container .selected .card-body {
    background-color: #e3cbff;
}

.wallet-container .card-body {
    padding: 0;
    color: rgb(130, 130, 130);
    font-weight: 400;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 2.5px rgba(150, 150, 150, 0.75);
}

psk-grid[data-grid-layout="true"] .wallet-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

psk-grid[data-grid-layout="true"] psk-card {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 1rem 0.5rem;
}

@media screen and (max-width: 1599px) {
    psk-grid[data-grid-layout="true"] psk-card {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 1rem 0.5rem;
    }
}

@media screen and (max-width: 959px) {
    psk-grid[data-grid-layout="true"] .wallet-container {
        padding: 0;
    }
    psk-grid[data-grid-layout="true"] .wallet-container .card-body,
    psk-grid[data-grid-layout="true"] .wallet-container .selected .card-body {
        background: none;
        border: none;
        box-shadow: none;
    }
    psk-grid[data-grid-layout="true"] psk-card {
        flex: 0 0 20%;
        max-width: 20%;
        margin: 0 0 1rem 2rem;
    }
}

@media screen and (max-width: 575px) {
    psk-grid[data-grid-layout="true"] psk-card {
        flex: 0 0 40%;
        max-width: 40%;
    }
    psk-grid[data-grid-layout="true"] .wallet-container {
        justify-content: space-around;
    }
}


/** receive dossier **/

.receive-dossier,
.receive-dossier div.card.psk-card,
.share-dossier,
.share-dossier div.card.psk-card {
    width: 100%;
}

.receive-dossier>div.card>div.card-body,
.share-dossier>div.card>div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    border: 0.1rem solid #b6cbee;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    font-style: italic;
    color: #808080;
}

.share-qr {
    width: 150px;
    background: #fff;
}

.share-dossier div.image_container {
    margin: 0;
}

@media screen and (max-width: 959px) {
    .receive-dossier div.card-body,
    .share-dossier div.card-body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/** move modal **/

.move-modal psk-card,
.move-modal .card,
.move-modal .card-body,
.move-modal psk-button,
.move-modal button.btn.btn-primary,
.move-modal psk-grid,
.move-modal .row {
    display: flex !important;
    width: 100%;
}

.move-modal .wallet-header {
    padding: 0.375rem 0.75rem;
}

.move-modal .wallet-header span.icon {
    padding: 0.5rem;
}

.move-modal .wallet-container {
    height: 30vh;
    overflow: auto;
}

.move-modal .navigation-links>*,
.move-modal .modal-buttons psk-button {
    width: auto;
}

.move-modal .items div.row psk-label {
    text-align: center;
    justify-content: center;
}